:root {
    --primary:#ec680b;
    --secondary: #181412;
}

/* App style */
.App {
    margin: 50px 50px;
}

/* AddTodo Style */
.form h2 {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.form .button {
    width: 60px;
    height: 20px;
    margin-left: 2px;
    border: none;
    color: white;
    background: green;
}

input {
    border: nones;
}

.error {
    color: black;
    text-align: center;
    margin-left: -50px;
}

/* ListTodo Style */
ul li {
    list-style: none;
    margin-left: -70px;
}

.edit-btn {
    width: 60px;
    height: 20px;
    background: blue;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.delete-btn {
    width: 60px;
    height: 20px;
    background: red;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.item {
    width:80%;
    margin-left: 30px;
    margin-top: 5px;
    background-color: white;
    padding-bottom: 10px;
}

.action {
    float:right;
    margin-right: 5px;
}

.update-btn {
    height: 20px;
    margin-left: 3px;
    background: blue;
    color: white;
    border: none;
}
    